
.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 5s all;
}

.cardButton {
    height: 50px;
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 1px 1px grey;
    transition: 0.1s;
}

.cardButtonRed, .cardButtonHeart, .cardButtonDiam, .redFont {
    color: #D00000;
}

.cardButtonBlck, .cardButtonSpade, .cardButtonClub, .blackFont {
    color: #000000;
}

.cardButtonRed, .cardButtonHigh, .cardButtonInbet {
    margin: 0 35px 0 0;
    background-color: whitesmoke;
    width: 150px;
}

.cardButtonRed:hover, .cardButtonHigh:hover, .cardButtonInbet:hover,
.cardButtonRed:focus, .cardButtonHigh:focus, .cardButtonInbet:focus {
    background-color: rgb(200, 200, 200);
}
.cardButtonRed:active, .cardButtonHigh:active, .cardButtonInbet:active {
    background-color: rgb(170, 170, 170);
}


.cardButtonBlck, .cardButtonLow, .cardButtonOutside {
    margin-left: 35px;
    background-color: whitesmoke;
    width: 150px;
}

.cardButtonBlck:hover, .cardButtonLow:hover, .cardButtonOutside:hover,
.cardButtonBlck:focus, .cardButtonLow:focus, .cardButtonOutside:focus {
    background-color: rgb(223, 223, 223);
}

.cardButtonBlck:active, .cardButtonLow:active, .cardButtonOutside:active {
    background-color: rgb(190, 190, 190);
}
