// SOME GLOBAL STYLING 
// NOT MANY DUE TO THE LACK OF CONTENT ON APP
html {
    font-size: 62.5%;
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

#cardButton {
    padding: 40px;
}