.centerCardContainer {
    width: 100%;
     display: flex;
     flex-wrap:wrap;
     flex-direction: column;
     align-content: center;
}

.centerCardFlexChild {    
     align-self: center;
     justify-self: center;
     margin-bottom: 35px;
     img {
         width: 200px;
         height: auto;
     }
}

.sectionGameTwo, .sectionGameThree, .sectionGameFour {
    width: 100%;
    height: auto;
    min-height: 1080px;
    display: none;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
}

.sectionGameTwo, .sectionGameThree {
     .centerCardContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .centerCardFlexChild {
            align-self: flex-start;
        }
        .gameOneCardContainer,.gameTwoCardContainer {
            align-self: center;
            text-align: center;
            .gOneCard {
                width: 150px;
                height: 225px;
            }       
            .gTwoCard {
                width: 150px;
                height: 225px;
            }   
        }     
    }
}

.sectionGameOne {
    background-color: #598392;
    width: 100%;
}

.sectionGameTwo {
    background-color: #01161E;
    .gameTwoCardContainer {
        visibility: hidden;
    }
}
.sectionGameThree {
    background-color: #124559;
}

.sectionGameFour {
    background-color: #315969;
}

